.mainContent {
	padding-left: 250px;
}

.mainContent h4 {
	text-align: center;
}

.sidenavContent {
	width: 250px;
}

.panelContent {
	min-height: 90vh;
	background: #e1e8ef;
}

.loading {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}